@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

@media (max-width: 400px) {
    .container {
      flex-direction: column;
    }
  }

.dataSection {
    width: 50%;
    margin: auto;
    text-align: center;
}

.dataType {
    font-weight: 400;
}

.data {
    font-weight: 100;
    font-size: 2em;
}